* text=auto
*.sh text eol=lf

/.gitattributes  export-ignore
/.github         export-ignore
/.gitignore      export-ignore
/CHANGELOG.md    export-ignore
/README.md       export-ignore
/tests           export-ignore
